* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../imagenes/uleam.jpg');
    background-size: cover;
}

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    height: 500px;
    max-width: 900px;
    transition: all 0.5s ease;
    margin: 10px;
    overflow: hidden;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #343a40;
    color: #f8f9fa;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: #f8f9fa;
}

.info-childs p {
    margin: 15px 0;
    color: #ced4da;
}

.info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #ced4da;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ced4da;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover {
    background-color: #ced4da;
    color: #343a40;
}

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-information-childs {
    padding: 0 30px;
}

.form-information-childs h2 {
    color: #343a40;
    font-size: 2rem;
}

.form-information-childs p {
    color: #6c757d;
}

.icons {
    margin: 15px 0;
}

.icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #6c757d;
    border: solid thin #6c757d;
    transition: background-color 0.3s ease;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.icons i:hover {
    background-color: #6c757d;
    color: #f8f9fa;
}

.form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #343a40;
}

.form label i {
    color: #6c757d;
}

.form input[type="submit"] {
    background-color: #343a40;
    color: #f8f9fa;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
    background-color: #495057;
}

.hide {
    position: absolute;
    transform: translateY(-300%);
}

@media screen and (max-width: 750px) {
    html {
        font-size: 10px;
    }

    .container-form {
        height: auto;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-information {
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}

/* Alertas */
.form div .alerta {
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: .8rem;
}

.form > .alerta-error,
.form > .alerta-exito {
    display: none;
}

.form .alertaError {
    display: block;
    background-color: #f66060;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
}

.form .alertaExito {
    display: block;
    background-color: #0ca828;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
}

.form .error {
    outline: solid 2px #dc3545;
}
